$black: #253342;
$dark-black: #151d26;
$white: #dbdbdb;
$dark-white: #bfbfbf;
$green: #389e70;
$dark-green: #2e825b;
$yellow: #c7c964;

::-webkit-scrollbar {
  display: none;
}

body {
  color: $black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@mixin basic-button {
  position: relative;
  display: flex;
  cursor: pointer;
  gap: 5px;
  border: none;
  color: $white;
  background: transparent;
  font-weight: bolder;
  padding: 0;
  text-transform: uppercase;
  text-decoration: underline;
  justify-content: center;
  align-items: center;

  &[disabled] {
    cursor: auto;
    color: $dark-green;
    text-decoration: none;
  }

  img {
    width: 1.5em;
    height: 1.5em;
  }
}
